:root {
	--background-color: #fdf3dd;
	--text-color: #373d3b;
	--accent-color-1: #caaacd;
	--accent-color-2: #d44902;
	--accent-color-3: #ffd4d4;
	--accent-color-4: #d6e8f7;
	--accent-color-5: #ffb347;
	--card-radius: 12px;
	--font-heading: "DisplayFont", serif;
	--font-body: "Marcellus", sans-serif;
  }
  .home-page {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
  }
  body {
	font-family: var(--font-body);
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
  }
  
  .hero-container {
	margin: 2rem auto;
	padding-top: 6vh;
	padding-bottom: 6rem;
	height: 78vh;
	max-width: 1000px;
	border-radius: var(--card-radius);
	min-height: 450px ;
  }
  
  .hero {
	margin: 2rem 2rem;
	border-radius: var(--card-radius);
	background-color: var(--accent-color-3);
	position: relative;
	height: 100%;
	box-sizing: border-box;	
  }
  .hero-wrapper {
	padding: 2rem 2rem; 
	height: 100%; 
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  .hero-content {
	position: relative;
	z-index: 2;
  }
  
  .hero h1 {
	font-family: var(--font-heading);
	font-size: 8rem;
	margin-bottom: 0rem;
	margin-top: 0rem;
	margin-left: 3rem;  }
  
  .hero p {
	font-size: 1.8rem;
	color: var(--text-color);
	margin-left: 4rem;
  }
  
  .hero-decoration {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
  }
  
  .clouds {
	position: absolute;
	top: 10vh;
	right: 0px;
	width: 25vw;
	height: auto;
  }
  
  .birds {
	position: absolute;
	top: 0px;
	right:0px;
	width: 21vw;
	height: auto;
  }
  .features-container {
	max-width: 1000px;
	display: grid;
	grid-template-columns: 1.5fr 2fr; 
	gap: 2rem;
	padding: 2rem;
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	padding-bottom: 10rem;
  }
  .profile-card {
	background-color: var(--accent-color-4);
	border-radius: var(--card-radius);
	height: 100%;
	display: flex;
	flex-direction: column;
  }
  
  .profile-image {
	padding: 2.5rem 2.5rem 1rem 2.5rem;
	border-radius: var(--card-radius);
	width: calc(100% - 5rem);
	height: auto;
  }
  
  .profile-content {
	padding: 0rem 2rem 2rem 2rem;
	flex-grow: 1;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }

  .profile-content p {
	margin: 10px;
  }
  .features-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr); 
	gap: 2rem;
	height: 100%;
  }
  
  .feature-card {
	border-radius: var(--card-radius);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-decoration: none;
	color: var(--text-color);
	transition: transform 0.3s;
  }
  
  .feature-card:hover {
	transform: translateY(-6px);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.459);}
  
  .feature-card-icon img {
	width: 80%;
	object-fit: contain;
  }
  
  .feature-card-title {
	font-family: var(--font-body);
	font-size: 2.5vw;
	margin-top: 0rem;  
	margin-bottom: 0.5rem;
}
  
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
	.birds {
		display: none;
	}
	.clouds {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 35vw;
		height: auto;
	  }
  }
  @media (max-width: 800px) {
	.hero h1 {
	  font-size: 3rem;
	}

	.hero p {
	  font-size: 1.3rem;
	}
  
	.features-container {
	  grid-template-columns: 1fr;
	}
  
	.navbar {
	  flex-direction: column;
	  gap: 1rem;
	}
  
	.navbar-links {
	  width: 100%;
	  justify-content: space-between;
	}
	.clouds {
		position: absolute;
		top: 80px;
		right: 0px;
		width: 50vw;
		height: auto;
	  }
}
@media (max-width: 600px) {
	.hero-container {
		min-height: 250px;
		height: 75vh;
	}
	.hero h1 {
		margin-left: 0.5rem;
	}
  
	.hero p {
		font-size: 1.3rem;
		margin-left: 0.5rem;
	}
	.profile-content p{
		font-size: 1.1rem;
	}
	.feature-card {
		transform: translateY(-6px);
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.459);}
	}
	.feature-card-icon img {
		width: 100%;
		object-fit: contain;
	  }
	  
	  .feature-card-title {
		font-family: var(--font-body);
		font-size: 1.2rem;
		margin-top: 0rem;  
		margin-bottom: 0.5rem;
  }